$table-header-row-height: 40px;
$table-body-row-height: 40px;
$table-header-row-bg-color: #ECECEC;
$table-body-row-bg-color-odd: #ECECEC;
$table-body-row-bg-color-even: #D8D8D8;
$table-border-color: #979797;
$modify-entry-button-border-color: #393939;
$table-color: #222222;

.table-container {
  .table {
    height: 100%;
    width: 100%;
  }
}

.table-body {
  overflow-y: auto;
  background: linear-gradient(
    180deg,
    $table-body-row-bg-color-odd,
    $table-body-row-bg-color-odd 39px,
    $table-border-color 39px,
    $table-border-color 40px,
    $table-body-row-bg-color-even 40px,
    $table-body-row-bg-color-even 79px,
    $table-border-color 79px,
    $table-border-color
  );
  background-size: 100% 80px
}

.row-header {
  width: 100%;
  height: $table-header-row-height;
  background-color: $table-header-row-bg-color;
  border-bottom: 1px solid $table-border-color;
}

.row-body {
  height: $table-body-row-height;
  width: 100%;
  border-bottom: 1px solid $table-border-color;

  &:nth-child(odd) {
    background: $table-body-row-bg-color-odd;
  }

  &:nth-child(even) {
    background: $table-body-row-bg-color-even;
  }
}

mat-cell,
mat-header-cell,
mat-header-row,
mat-row {
  min-height: 38px;
  // color: $table-color;
}

mat-header-cell {
  font-family: "Lato Bold";
  font-size: 14px;
  padding: 0 !important; // Override mat-header-cell:last-of-type and mat-header-cell:first-of-type
}

mat-cell {
  font-family: 'Lato Medium';
  font-size: 14px;
  border-right: 1px solid $table-border-color;
  padding: 0 !important; // Override mat-cell:last-of-type and mat-cell:first-of-type
}

.modify-entry {
  button {
    font-family: 'Lato Medium';
    font-size: 12px;
    border: 1px solid $modify-entry-button-border-color;
    border-radius: 15px;
    padding: 4px 10px;
    background: linear-gradient(rgba(203,199,207,1), rgba(241,241,241,1));
    margin: 0 10px;
  }

  .button-delete,
  .button-edit {
    height: 25px;
    width: 79px;
  }

  .button-delete {
    background: linear-gradient(rgba(193,30,30,1), rgba(255,70,70,1));
  }
}
