@import "global-preloads.scss";;

.vesselassignments {
  height: 100%;
  width: 100%;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Lato';
}

.messages {
  height: 27px;
  width: 1034px;
  position: absolute;
  left: 57px;
  top: 931px;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.routes {
  height: 888px;
  width: 1082px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.route {
  height: 888px;
  width: 140px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card-wrapper {
  height: 200px;
  width: 140px;
  display: block;
  margin-bottom: 22px;
}

.card {
  height: 200px;
  width: 140px;
  border: 1px solid #979797;
  box-shadow: 2px 4px 2px 0 #979797;

  .card-header {
    height: 55px;
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    line-height: 16px;

    // p {
    //   margin: 0.5rem 0;
    //   text-align: center;
    // }
    div {
      width: 100%;
      min-height: 16px;
      margin: 5px 0;
      text-align: center;
    }

    .vessel {
      font-family: "Lato Bold";
    }

    .shift {
      font-family: "Lato Medium";
    }
  }

  .card-body {
    height: 145px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid #ABABAB;
    line-height: 19px;

    p.time {
      font-family: "Lato";
      font-weight: bold;
    }
    p.message {
      font-family: "Lato Black";
    }
  }

  &.crew-0,
  &.crew-1,
  &.crew-2,
  &.crew-3,
  &.crew-4 {
    .card-body {
      p {
        font-size: 16px;
        margin-top: 6px;
        text-align: center;
      }
    }
  }

  &.crew-5 {
    .card-body {
      p {
        font-size: 16px;
        margin-top: 3px;
        text-align: center;

        &.time {
          margin-top: 6px;
        }
      }
    }
  }

  &.crew-6 {
    .card-body {
      p {
        font-size: 14px;
        margin-top: 1px;
        text-align: center;

        &.time {
          margin-top: 0;
        }
      }
    }
  }

  &.ER {
    background: #CCE4E9;

    .card-header {
      background: url($assets-path + "crewboard/images/vessel-card-headers/ER.png") no-repeat center center;
      background-size: cover;
    }
  }

  &.RW {
    background: #ead3eb;

    .card-header {
      background: url($assets-path + "crewboard/images/vessel-card-headers/RW.png") no-repeat center center;
      background-size: cover;
    }
  }

  &.AS {
    background: #fbe3cf;

    .card-header {
      background: url($assets-path + "crewboard/images/vessel-card-headers/AS.png") no-repeat center center;
      background-size: cover;
    }
  }

  &.SB {
    background: #F9E3E9;

    .card-header {
      background: url($assets-path + "crewboard/images/vessel-card-headers/SB.png") no-repeat center center;
      background-size: cover;
    }
  }

  &.LE {
    background: #FFF2B8;

    .card-header {
      background: url($assets-path + "crewboard/images/vessel-card-headers/LE.png") no-repeat center center;
      background-size: cover;
    }
  }

  &.SV {
    background: #D1C7DF;

    .card-header {
      background: url($assets-path + "crewboard/images/vessel-card-headers/SV.png") no-repeat center center;
      background-size: cover;
    }
  }

  &.BU {
    background: #fafafa;

    .card-header {
      background: url($assets-path + "crewboard/images/vessel-card-headers/BU.png") no-repeat center center;
      background-size: cover;
    }
  }
}
