<mat-card
  fxLayout="column"
  fxLayoutAlign="flex-start center"
  class="element-card">
  <mat-card-header>
    <mat-card-title
      *ngIf="title"
      class="title">{{ title }}</mat-card-title>
    <mat-card-subtitle
      *ngIf="subtitle"
      class="subtitle">{{ subtitle }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p
      *ngFor="let content of contents"
      class="body-2">{{ content}}</p>
    <div *ngIf="viewDetails">
      <br *ngIf="viewDetails">
      <hr *ngIf="viewDetails">
      <br *ngIf="viewDetails">
      <p *ngIf="viewDetails" class="body-2">Update Time:&nbsp;&nbsp;{{ element.updatedAt | date: 'yyyy-MM-dd HH:mm:ss' }}</p>
      <p *ngIf="viewDetails" class="body-2">Edit User:&nbsp;&nbsp;{{ element.editUser }}</p>
      <p *ngIf="viewDetails" class="body-2">Edit Time:&nbsp;&nbsp;{{ element.editTime | date: 'yyyy-MM-dd HH:mm:ss' }}</p>
      <p *ngIf="viewDetails" class="body-2">Delete User:&nbsp;&nbsp;{{ element.deleteUser }}</p>
      <p *ngIf="viewDetails" class="body-2">Delete Time:&nbsp;&nbsp;{{ element.deletedAt | date: 'yyyy-MM-dd HH:mm:ss' }}</p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      [disabled]="element.deleteUserId"
      (click)="onEdit()">Edit</button>
    <button
      mat-raised-button
      color="warn"
      [disabled]="element.deleteUserId"
      (click)="onDelete()">Delete</button>
  </mat-card-actions>
</mat-card>
