// @import "global-preloads.scss";;
@import "global-preloads.scss";

.crewboard {
  height: 1080px;
  width: 1920px;
  position: relative;
  background: url($assets-path + "crewboard/images/crewboard_background.png") no-repeat center center;
  background-size: cover;
  font-family: "Helvetica Neue Light";
}

.wakeboard-logo {
  height: 68px;
  width: 163px;
  position: absolute;
  left: 20px;
  top: 20px;
  background: url($assets-path + "crewboard/images/wakeboard_logo.png") no-repeat center center;
  background-size: contain;
}

.hialabs-logo {
  height: 88px;
  width: 163px;
  position: absolute;
  left: 20px;
  top: 6px;
  background: url($assets-path + "images/logos/hialabs-logo.png") no-repeat center center;
  background-size: contain;
}

.notes-wrapper {
  height: 155px;
  width: 564px;
  position: absolute;
  left: 88px;
  top: 187px;
  background: $crewboard-outer-bg-color;
  border: $crewboard-outer-border;
  border-radius: $crewboard-outer-border-radius;
  box-shadow: $crewboard-outer-box-shadow;
  overflow: hidden;
}

.crewswaps-wrapper {
  height: 438px;
  width: 564px;
  position: absolute;
  left: 88px;
  top: 362px;
  background: $crewboard-outer-bg-color;
  border: $crewboard-outer-border;
  border-radius: $crewboard-outer-border-radius;
  box-shadow: $crewboard-outer-box-shadow;
}

.slipassignments-wrapper {
  height: 206px;
  width: 564px;
  position: absolute;
  left: 88px;
  top: 820px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $crewboard-outer-bg-color;
  border: $crewboard-outer-border;
  border-radius: $crewboard-outer-border-radius;
  box-shadow: $crewboard-outer-box-shadow;
}

.vesselassignments-wrapper {
  height: 977px;
  width: 1150px;
  position: absolute;
  left: 710px;
  top: 49px;
  background: $crewboard-outer-bg-color;
  border: $crewboard-outer-border;
  border-radius: $crewboard-outer-border-radius;
  box-shadow: $crewboard-outer-box-shadow;
}
