@import "global-preloads.scss";;

.notes {
  height: 100%;
  width: 100%;
}

.critical-notes-wrapper {
  height: 84px;
  width: 100%;
  border-bottom: 1px solid #979797;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Lato Heavy";
  font-size: 20px;
}

.critical-note {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  // margin: 0 1.2rem;
  padding: 0 12px;
  text-align: center;
  text-transform: uppercase;
  background: #FF5757;
}

.critical-note.default {
  // text-transform: none;
  // background: #D2DCE3;
  background: #9DDC59;
}

.non-critical-notes-wrapper {
  height: 71px;
  width: 100%;
  border-top: 1px solid #979797;
}

.marquee {
  height: 100%;
  width: 100%;
  // height: 7.0rem;
  // width: 56.8rem;
  position: relative;

  p {
    height: 100%;
    width: auto;
    min-width: 100%;
    position: absolute;
    padding-left: 568px;
    white-space: nowrap;
    margin: 0;

    font-family: "Lato";
    font-size: 20px;
    font-weight: 400;
    line-height: 56px;
    float: left;
  }

  span {
    height: 58px;
    display: inline-block;
    padding: 0 20px;
    margin: 2px 14px 04px;
    background-color: #FCEEEE;
    border: 1px solid #524D4D;
    border-radius: 17px;
    box-shadow: 1px 1px 2px 0 #979797;
  }

  span:first-child {
    margin: 3px 14px 3px 0;
  }
  span:last-child {
    margin: 3px 0 3px 14px;
  }
}

.note {
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-iteration-count: 1;
}

.marquee.scroll-left .note {
  animation-name: scroll-left;
}

// .marquee.scroll-left p {
//   animation: scroll-left 20s linear 0s 1;
// }

@keyframes scroll-left {
  0% {
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.marquee.scroll-left p {
  animation: scroll-left 20s linear 0s 1;
}

.progress-bar-wrapper {
  // The height of progress-bar is 5px
  height: 6px;
  height: 6px;
  padding: 1px 2px 0;
  padding: 1px 2px 0;
}
