// @import "global-preloads.scss";;
@import "global-preloads.scss";

.clock {
  height: 11.7rem;
  width: 56.4rem;
  position: absolute;
  left: 8.8rem;
  top: 4.8rem;
  color: #fff;
  text-align: center;
  font-family: "Helvetica Neue Condensed Bold";

  .time {
    font-size: 6.6rem;
    line-height: 8.0rem;
  }

  .date {
    font-size: 3.3rem;
    line-height: 4.0rem;
    text-transform: uppercase;
  }
}
