// @import "global-preloads.scss";;
@import "global-preloads.scss";

.clock {
  height: 117px;
  width: 564px;
  position: absolute;
  left: 88px;
  top: 48px;
  color: #fff;
  text-align: center;
  font-family: "Helvetica Neue Condensed Bold";

  .time {
    font-size: 66px;
    line-height: 80px;
  }

  .date {
    font-size: 33px;
    line-height: 40px;
    text-transform: uppercase;
  }
}
