$table-width: 130px;
$search-input-border-color: #282727;
$search-input-color: #282727;

.master-database {
  height: 656px;
  width: 1842px;
  position: relative;
  margin: 72px auto;
  border: 1px solid #979797;
  border-radius: 15px;
  background-color: #ECECEC;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.5);
  overflow: hidden;

  .master-header {
    height: 44px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3CA2E2;
  }

  .master-title {
    margin-left: 20px;
    font-family: "Lato Bold";
    font-size: 22px;
    color: #ffffff;
    text-shadow: 0 1px 4px rgba(0,0,0,0.5);
  }

  .master-header-message {
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #979797;

    p {
      font-family: 'Lato Italic';
      font-size: 17px;
      // font-weight: bold;
      margin-left: 20px;
    }
  }

  .master-body {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .table-group {
    height: 564px;
    display: flex;
    justify-content: space-between;
    padding: 32px 64px 0;
    align-items: flex-start;
  }

  .table-group-vessel {
    width: 610px;
    border-right: 1px solid #979797;
  }

  .table-group-shift {
    width: 794px;
    border-right: 1px solid #979797;
  }

  .table-group-crew {
    width: 458px;
  }

  .table-wrapper,
  .table-wrapper-group {
    height: 508px;
    width: 132px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .table {
    height: 462px;
    width: 132px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #041E42;
    border-radius: 8px;
    overflow: hidden;
  }

  .edit-button {
    height: 26px;
    width: 80px;
    margin-top: 20px;
    border: 1px solid #393939;
    border-radius: 15px;
    background: linear-gradient(#EEEEEE, #D8D8D8);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    font-size: 12px;
  }

  .table-wrapper-vesseltype,
  .table-wrapper-location,
  .table-wrapper-job {
    height: 256px;
  }

  .table-wrapper-vesselcapacity {
    height: 220px;
  }

  .table-vesseltype,
  .table-location,
  .table-job {
    height: 210px;
  }

  .table-vesselcapacity {
    height: 174px;
  }

  .search-input-wrapper {
    position: relative;
    background: linear-gradient(rgba(203,199,207,1), rgba(241,241,241,1));
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
    padding: 5px 28px 5px 14px;
    border-radius: 11px;
    margin: 0 16px;
  }

  .search-input {
    width: 130px;
    font-size: 14px;
    font-family: "Lato Medium";
    background: transparent;
    border: none;
    color: $search-input-border-color;
    border-bottom: 1px solid $search-input-border-color;
  }

  .search-icon {
    position: absolute;
    font-size: 20px;
    color: $search-input-color;
  }
}
