@import "global-preloads.scss";

$close-button-img-url: $images-assets-path + "icons/close-button.png";

.form-dialog-container {
  .mat-dialog-container {
    height: 700px;
    width: 1306px;
    padding: 0;
    border-radius: 20px;
  }

  .mat-form-field-wrapper {
    // padding: 0;
  }

  .mat-form-field-subscript-wrapper {
    margin-top: 2px;
  }

  .mat-form-field-infix {
    border-width: 0;
    padding: 0;
    width: 256px;
  }

  .mat-form-field-underline {
    display: none;
  }

  .form-dialog {
    // height: 700px;
    // width: 1306px;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .title-bar {
      height: 80px;
      width: 100%;
      padding: 0 18px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: linear-gradient(#3CA2E2, #226A9D);
      color: #ffffff;
    }

    .title {
      font-family: "Lato";
      font-size: 31px;
      font-weight: bold;
      text-transform: uppercase;
      text-shadow: 0 3px 6px rgba(0,0,0,0.5);
    }

    .close-button {
      height: 64px;
      width: 26px;
      background: url($close-button-img-url) no-repeat center center;
      background-size: contain;
    }

    .body {
      height: 660px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    .instruction {
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 28px;
      font-family: "Lato";
      font-size: 22px;
      font-style: italic;
    }

    .subtitle {
      height: 26px;
      width: 1180px;
      border-bottom: 2px solid #000000;
      margin-bottom: 12px;
      font-family: "Lato Heavy";
      font-size: 22px;
      text-align: left;
    }

    .input-group {
      height: 106px;
      width: 100%;
      padding-left: 62px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    .input-wrapper {
      height: 106px;
      width: 308px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .input-label {
      height: 28px;
      font-family: "Lato";
      font-size: 20px;
      font-weight: bold;
    }

    .input {
      height: 46px;
      width: 256px;
      padding: 0 10px;
      background: #F5F3F3;
      border: 1px solid #979797;
      border-radius: 7px;
      box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
    }

    .save-button {
      height: 64px;
      width: 226px;
      position: absolute;
      left: 50%;
      bottom: 70px;
      margin-left: -113px;
      border: 2px solid #9E9E9E;
      border-radius: 32px;
      background: #7ED321;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Lato Heavy";
      font-size: 23px;
    }
  }
}

.date-form-dialog-container {
  @extend .form-dialog-container;

  .mat-dialog-container {
    height: 820px;
    width: 510px;
  }

  .form-dialog {
    height: 100%;
    width: 100%;

    .instruction {
      width: 420px;
      padding: 0;
    }

    .subtitle {
      height: 0px;
      width: 420px;
      margin-bottom: 24px;
    }

    .input-group {
      padding-left: 0;
    }
  }
}
