.content-container {
  position: relative;
}

.table-container {
  position: absolute;
}

.table-container-vesselassignment {
  height: 360px;
  width: 1842px;
  left: 39px;
  top: 26px;
}
.table-container-slipassignment {
  height: 200px;
  width: 850px;
  left: 39px;
  top: 418px;
}
.table-container-note {
  height: 200px;
  width: 850px;
  left: 39px;
  top: 655px;
}
.table-container-crewswap {
  height: 436px;
  width: 920px;
  left: 960px;
  top: 418px;
}
