<mat-card class="filter-options-card">
  <mat-card-header>
    <mat-card-title>Filter and Add</mat-card-title>
  </mat-card-header>

  <mat-card-content
    fxFlex="100%"
    fxLayout="row wrap"
    fxLayoutAlign="space-evenly">

    <mat-form-field
      fxFlex.xs="100%"
      fxFlex.gt-xs="50%"
      fxLayout
      fxLayoutAlign="center center"
      class="field-wrapper">
      <input
        matInput
        type="text"
        (keyup)="onFilter($event.target.value)"
        placeholder="Filter" />
    </mat-form-field>

    <div
      fxFlex.xs="100%"
      fxFlex.gt-xs="50%"
      fxLayout
      fxLayoutAlign="center center"
      class="field-wrapper">
      <button
        mat-raised-button
        color="primary"
        (click)="onAdd()">Add a New {{ itemType | titlecase }}</button>
    </div>
  </mat-card-content>
</mat-card>
