@import "global-preloads.scss";;

mat-card-header {
  border-bottom: 1px solid #444444;
  border-bottom: 0.1rem solid #444444;
  height: 42px;
  height: 4.2rem;
}

mat-card-content {
  .field-wrapper {
    margin: 12px 0 0;
    margin: 1.2rem 0 0;
    height: 48px;
    height: 4.8rem;
  }
}

button {
  max-height: 36px;
  max-height: 3.6rem;
}

mat-card.filter-options-card {
  flex-direction: column;
}
