<div
  class="header"
  fxLayout="row nowrap"
  fxLayoutAlign="space-between center">

  <div class="wakeboard-logo"></div>

  <div
    *ngIf="!hasDatePicker"
    class="clock"
    fxLayout="column nowrap"
    fxLayoutAlign="center center">
    <div class="time">
      <app-clock [format]="'HH:mm'"></app-clock>
    </div>
    <div class="date">
      <app-clock [format]="'MMMM d'" [ordinalSuffix]="true"></app-clock>
      <app-clock [format]="', yyyy'"></app-clock>
    </div>
  </div>

  <div
    *ngIf="hasDatePicker"
    class="date-picker-wrapper">
    <div class="date-wrapper">
      <div class="left-arrow">
        <mat-icon class="arrow-icon" (click)="changeDateByOneDay('-')">arrow_left</mat-icon>
      </div>
      <div class="date">
        <span>{{ date | date: 'MMMM d' }}</span>
        <span>{{ date | date: 'd' | ordinalSuffix }}</span>
        <span>{{ date | date: ', yyyy' }}</span>
      </div>
      <div class="right-arrow">
        <mat-icon class="arrow-icon" (click)="changeDateByOneDay('+')">arrow_right</mat-icon>
      </div>
    </div>
    <div
      class="view-calendar"
      (click)="openCalendarForm()">
      <span class="view-calendar-caption">View Calendar</span>
      <span class="calendar-icon"></span>
    </div>
  </div>

  <ul
    class="nav"
    fxLayout="row nowrap"
    fxLayoutAlign="flex-end center">
    <li *ngFor="let navItem of navList; let i = index">
      <button
        mat-stroked-button
        class="nav-button"
        [routerLink]="[navItem.routerLink]"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="navItem.routerLinkActiveOptions"
        queryParamsHandling="preserve">{{ navItem.caption }}</button>
    </li>
  </ul>
</div>
