<div
  class="header"
  fxLayout="row nowrap"
  fxLayoutAlign="space-between center">

  <div class="wakeboard-logo"></div>

  <div
    class="clock"
    fxLayout="column nowrap"
    fxLayoutAlign="center center">
    <h1 class="time">16:15</h1>
    <h2 class="date">August 2nd, 2018</h2>
  </div>

  <ul
    class="nav"
    fxLayout="row nowrap"
    fxLayoutAlign="space-between center">
    <li *ngFor="let navItem of navList; let i = index">
      <button
        mat-stroked-button
        class="nav-button"
        [routerLink]="[navItem.routerLink]"
        [routerLinkActive]="['active']">{{ navItem.caption }}</button>
    </li>
  </ul>
</div>
