@import "global-preloads.scss";

$header-bg-color: #041E42;
$wakeboard-logo-img-url: $images-assets-path + "logos/wakeboard-logo.png";
$hialabs-logo-img-url: $images-assets-path + "logos/hialabs-logo.png";
$calendar-icon-img-url: $images-assets-path + "icons/calendar.png";
$view-calendar-icon-img-url: $images-assets-path + "icons/view-calendar.png";
$clock-font-family: "Helvetica Neue Condensed";

:host {
  display: block;
}

.header {
  height: 172px;
  width: 1920px;
  background-color: $header-bg-color;
  color: #ffffff;
}

.wakeboard-logo {
  height: 86px;
  width: 233px;
  margin-left: 38px;
  background: url($wakeboard-logo-img-url) no-repeat center center;
  background-size: contain;
}

.hialabs-logo {
  height: 140px;
  width: 233px;
  margin-left: 38px;
  margin-top: -40px;
  background: url($hialabs-logo-img-url) no-repeat center center;
  background-size: contain;
}

.clock {
  height: 100%;
  width: 400px;
  font-family: $clock-font-family;
  font-weight: 800;

  .time {
    font-size: 60px;
    line-height: 71px;
  }

  .date {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
  }
}

.date-picker-wrapper {
  height: 120px;
  // height: 130px;
  width: 800px;
  position: absolute;
  left: 290px;
  top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .date-wrapper {
    height: 70px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Helvetica Neue Condensed';
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .arrow-icon {
    height: 40px;
    width: 40px;
    font-size: 40px;
  }

  .left-arrow {
    margin-right: 22px;
  }

  .right-arrow {
    margin-left: 22px;
  }

  // .view-calendar {
  //   height: 36px;
  //   width: 182px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   border: 1px solid #A99191;
  //   border-radius: 16px;
  //   margin-top: 14px;
  // }

  // .view-calendar {
  //   height: 65px;
  //   width: 226px;
  //   background: url()
  // }

  // .view-calendar-caption {
  //   padding-top: 2px;
  //   font-family: "Helvetica Neue Condensed";
  //   font-size: 20px;
  //   font-weight: bold;
  // }

  // .calendar-icon {
  //   height: 24px;
  //   width: 22px;
  //   margin-left: 8px;
  //   background: url($calendar-icon-img-url) no-repeat center center;
  //   background-size: contain;
  // }

  .view-calendar {
    // height: 65px;
    // width: 226px;
    height: 40px;
    width: 160px;
    margin-top: 10px;
    background: url($view-calendar-icon-img-url) no-repeat center center;
    background-size: contain;
    cursor: pointer;
  }
}

.nav {
  height: 100%;
  width: 738px;
  margin-right: 40px;

  .nav-button {
    height: 66px;
    width: 168px;
    margin-left: 20px;
    border: 2px solid transparent;
    border-radius: 10px;
    white-space: pre-wrap;
    font-family: "Lato";
    font-size: 21px;
    line-height: 25px;
    color: #ffffff;
    // background: linear-gradient(rgba(159,157,157,1), rgba(111,110,110,1));
    background: #435062;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);

    &.active {
      // background: linear-gradient(rgba(60,162,226,1), rgba(34,106,157,1));
      background: #0099E4;
    }

    &:hover {
      border: 2px solid #ffffff;
    }
  }
}
