<div
  class="header"
  fxLayout="row nowrap"
  fxLayoutAlign="space-between center">

  <div class="wakeboard-logo"></div>

  <div
    class="clock"
    fxLayout="column nowrap"
    fxLayoutAlign="center center">
    <div class="time">
      <app-clock [format]="'HH:mm'"></app-clock>
    </div>
    <div class="date">
      <app-clock [format]="'MMMM d'" [ordinalSuffix]="true"></app-clock>
      <app-clock [format]="', yyyy'"></app-clock>
    </div>
  </div>

  <ul
    class="nav"
    fxLayout="row nowrap"
    fxLayoutAlign="space-between center">
    <li *ngFor="let navItem of navList; let i = index">
      <button
        mat-stroked-button
        class="nav-button"
        [routerLink]="[navItem.routerLink]"
        [routerLinkActive]="['active']">{{ navItem.caption }}</button>
    </li>
  </ul>
</div>
