<div
  *ngIf="isVisible('date')"
  class="manage-table-section"
  fxLayout="row wrap"
  fxLayoutAlign="flex-start">

  <div
    class="card-wrapper"
    fxFlex.xs="100%"
    fxFlex.sm="50%"
    fxFlex.md="50%"
    fxFlex.lg="30%"
    fxFlex.gt-lg="33%">
    <mat-card
      class="manage-table-card">
      <mat-card-header>
        <mat-card-title>Create New Entry</mat-card-title>
      </mat-card-header>
      <mat-card-content
        fxLayout="row"
        fxLayoutAlign="space-evenly center">
        <div class="button-wrapper">
          <button
            mat-raised-button
            class="add-button"
            type="button"
            color="primary"
            (click)="onAdd()">Add New +</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="card-wrapper"
    fxFlex.xs="100%"
    fxFlex.sm="50%"
    fxFlex.md="50%"
    fxFlex.lg="30%"
    fxFlex.gt-lg="33%">
    <mat-card
      class="manage-table-card">
      <mat-card-header>
        <mat-card-title>Search</mat-card-title>
      </mat-card-header>
      <mat-card-content
        fxLayout="row"
        fxLayoutAlign="space-evenly center">
        <mat-form-field>
          <input
            matInput
            type="text"
            (keyup)="onFilter($event.target.value)"
            placeholder="Filter" />
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>

  <div
    class="card-wrapper"
    fxFlex.xs="100%"
    fxFlex.sm="100%"
    fxFlex.md="100%"
    fxFlex.lg="40%"
    fxFlex.gt-lg="34%">
    <form #f="ngForm">
      <mat-card
        class="manage-table-card">
        <mat-card-header>
          <mat-card-title>View by Date</mat-card-title>
        </mat-card-header>
        <mat-card-content
          fxLayout="row"
          fxLayoutAlign="space-evenly center">
            <mat-form-field>
              <input matInput name="date" class="date-input" [matDatepicker]="datePicker" [(ngModel)]="options.date" placeholder="Date" required />
              <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
              <mat-datepicker #datePicker></mat-datepicker>
            </mat-form-field>
            <div class="button-wrapper">
              <button
                mat-raised-button
                class="search-button"
                type="button"
                color="primary"
                (click)="onSearch()">View</button>
            </div>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>


<div
  *ngIf="!isVisible('date')"
  class="manage-table-section"
  fxLayout="row wrap"
  fxLayoutAlign="flex-start">

  <div
    class="card-wrapper"
    fxFlex.xs="100%"
    fxFlex.sm="50%"
    fxFlex.md="50%"
    fxFlex.gt-md="33.33%">
    <mat-card
      class="manage-table-card">
      <mat-card-header>
        <mat-card-title>Create New Entry</mat-card-title>
      </mat-card-header>
      <mat-card-content
        fxLayout="row"
        fxLayoutAlign="space-evenly center">
        <div class="button-wrapper">
          <button
            mat-raised-button
            class="add-button"
            type="button"
            color="primary"
            (click)="onAdd()">Add New +</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="card-wrapper"
    fxFlex.xs="100%"
    fxFlex.sm="50%"
    fxFlex.md="50%"
    fxFlex.gt-md="33.33%">
    <mat-card
      class="manage-table-card">
      <mat-card-header>
        <mat-card-title>Search</mat-card-title>
      </mat-card-header>
      <mat-card-content
        fxLayout="row"
        fxLayoutAlign="space-evenly center">
        <mat-form-field>
          <input
            matInput
            type="text"
            (keyup)="onFilter($event.target.value)"
            placeholder="Filter" />
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>

  <div
    class="card-wrapper"
    fxFlex.xs="100%"
    fxFlex.sm="100%"
    fxFlex.md="100%"
    fxFlex.gt-md="33.33%">
    <form #f="ngForm">
      <mat-card
        class="manage-table-card">
        <mat-card-header>
          <!-- <mat-card-title>View</mat-card-title> -->
          <mat-card-title></mat-card-title>
        </mat-card-header>
        <mat-card-content
          fxLayout="row"
          fxLayoutAlign="space-evenly center">
            <!-- <mat-form-field>
              <input matInput name="date" class="date-input" [matDatepicker]="datePicker" [(ngModel)]="options.date" placeholder="Date" required />
              <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
              <mat-datepicker #datePicker></mat-datepicker>
            </mat-form-field> -->
            <div class="button-wrapper">
              <button
                mat-raised-button
                class="search-button"
                type="button"
                color="primary"
                (click)="onSearch()">Refresh</button>
            </div>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>
