.manage-table-section {
  width: 100%;
}

.manage-table-card {
  height: 12.8rem;
  margin: 0.2rem 0;

  mat-card-header {
    height: 3.0rem;
  }

  mat-card-title {
    font-size: 1.8rem;
    font-weight: bold;
  }

  mat-card-content {
    height: 5.0rem;
  }
}

.button-wrapper {
  padding-bottom: 1.75rem;
}

.add-button,
.search-button {
  font-size: 1.5rem;
  padding: 0 2.0rem;
}
