@import "global-preloads.scss";;

.crewswaps {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Lato";
}

.table {
  width: 544px;
  border: 1px solid #979797;
  border-radius: 8px;
  box-shadow: 2px 4px 3px 0 #979797;
  overflow: hidden;
}

.table-1 {
  height: 145px;
}

.table-2, .table-2 {
  height: 116px;
}

.table-header {
  background: rgba(94,162,206,0.3);
  height: 29px;
  width: 100%;
  font-family: "Lato Heavy";
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.table-title {
  padding-left: 10px;
}

.table-row {
  height: 29px;
  border-top: 1px solid #979797;
  background: #ebebec;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.table-cell {
  display: inline-block;
  height: 100%;
  text-align: center;
}

.shifts {
  width: 305px;
  text-align: left;
  padding: 0 10px;
}

.time {
  width: 68px;
}

.vessel {
  width: 171px;
  font-family: "Lato Heavy";
}

.time, .vessel {
  border-left: 1px solid #979797;
}

span.first-departure {
  font-family: "Lato Italic";
}
